<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgetapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetApp">
        <activity
            android:name=".activities.ElementDetailsActivity"
            android:label="@string/title_activity_element_details"
            android:parentActivityName=".activities.CategoryActivity"
            android:theme="@style/Theme.BudgetApp.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.budgetapp.activities.CategoryActivity" />
        </activity>

        <activity
            android:name=".activities.CategoryActivity"
            android:label="@string/title_activity_category"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.BudgetApp.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.budgetapp.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.BudgetApp.NoActionBar" />
        <activity android:name=".OpeningActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>